.sidebar {
    width: 250px;
    background-color: #3a5a40;
    padding: 20px;
  }
  
  .sidebar-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #588157;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .sidebar-button:hover {
    background-color: #4a6d4c;
  }
  
  .sidebar-button.active {
    background-color: #344e41;
  }